In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
import plotly.io as pio
pio.renderers.default = 'iframe'

In [3]:
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc, html
from dash.dependencies import Input, Output
from datetime import datetime, timedelta
from plotly.subplots import make_subplots

import logging
log = logging.getLogger('werkzeug')
log.setLevel(logging.ERROR)

import random

In [4]:
skills_df = pd.read_csv('../../data/final_cleaned_files/all_skills_info.csv')
edu_df = pd.read_csv('../../data/final_cleaned_files/all_education_info.csv')
exp_df = pd.read_csv('../../data/final_cleaned_files/all_name_and_experience_info.csv')

In [5]:
skills_df.head()

,profile_id_dummy,all_skills_link,skills_list,.net,8051 microcontroller,a/b testing,abaqus,accounting,adobe design programs,advertising,...,vietnamese,visual analytics,water,water treatment,wellness,workforce planning,working capital management,writing,written communication,xslt
0,DataScience_0,https://www.linkedin.com/in/david-benham-4582b...,"['SQL', 'Business Intelligence', 'Data Warehou...",1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,DataScience_1,https://www.linkedin.com/in/siddharthmahapatra...,"['Analytics', 'Statistical Modeling', 'Statist...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DataScience_2,https://www.linkedin.com/in/vamsi-nellutla/det...,"['Software Project Management', 'SDLC', 'Proje...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,DataScience_3,https://www.linkedin.com/in/jing-xu-39447146/d...,"['Python (Programming Language)', 'SQL', 'R', ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DataScience_4,https://www.linkedin.com/in/shaunakbangale/det...,"['Business Analytics', 'Python', 'Machine Lear...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
exp_df.head()

,profile_id_dummy,company,positions,durations_cleaned,start_date,end_date,names,profile_url,profile_heading,profile_category
0,DataScience_0,Jasper County Collector of Revenue,Deputy Collector of Revenue,2006 - 2010,2006-11-03,2010-11-03,David Benham,https://www.linkedin.com/in/david-benham-4582b...,Principal Data Scientist & Manager of Innovati...,DataScience
1,DataScience_0,Leggett & Platt,Advanced Application Developer Analyst,May 2010 - May 2012,2010-05-03,2012-05-03,David Benham,https://www.linkedin.com/in/david-benham-4582b...,Principal Data Scientist & Manager of Innovati...,DataScience
2,DataScience_0,Chesapeake Energy,Senior Software Developer,May 2012 - Oct 2017,2012-05-03,2017-10-03,David Benham,https://www.linkedin.com/in/david-benham-4582b...,Principal Data Scientist & Manager of Innovati...,DataScience
3,DataScience_0,Chesapeake Energy,Data Scientist,Oct 2017 - Feb 2019,2017-10-03,2019-02-03,David Benham,https://www.linkedin.com/in/david-benham-4582b...,Principal Data Scientist & Manager of Innovati...,DataScience
4,DataScience_0,Chesapeake Energy,Senior Data Scientist,Feb 2019 - Nov 2019,2019-02-03,2019-11-03,David Benham,https://www.linkedin.com/in/david-benham-4582b...,Principal Data Scientist & Manager of Innovati...,DataScience

In [7]:
edu_df.head()

,profile_id_dummy,education_institute,degree_name,start_year_degree,end_year_degree,profile_category
0,DataScience_0,Missouri Southern State University,"Bachelor's degree, Mathematics",2005,2010,DataScience
1,DataScience_1,Delhi University,"Bachelor of Arts (B.A.), Economics",2002,2005,DataScience
2,DataScience_1,Anna University,"Master of Science (M.Sc.), Economics",2006,2008,DataScience
3,DataScience_2,Northcentral University,"Doctor of Philosophy - PhD, Data Science Speci...",1900,1900,DataScience
4,DataScience_2,The University of Iowa Tippie College of Business,"MBA, Business Analytics",2007,2007,DataScience

In [8]:
edu_df['profile_category'].unique()

array(['DataScience', 'CTO', 'Consultant'], dtype=object)

# Dash APP

In [85]:
############# Initialize Dash App #############

app = JupyterDash(__name__)

############# Define Plot Functions #############

### skills plot 1
@app.callback(
    Output('skills-graph', 'figure'),
    [Input("profile-type-dropdown", "value")]
)
def skills_barplot(profile_type):
    single_profile_type_skills = skills_df[skills_df['profile_category'] == profile_type].copy()
    skills_cols = single_profile_type_skills.columns.difference(
        ['profile_id_dummy', 'all_skills_link', 'skills_list', 'profile_category']
    )

    top_skills = single_profile_type_skills[skills_cols].sum(axis=0).sort_values(ascending=False).reset_index()
    top_skills.columns = ['skill_name', 'count_people']
    top_skills['percent_people'] = round((top_skills['count_people']/single_profile_type_skills.shape[0])*100,0)

    plt_df = top_skills.head(30)
    
    fig = px.bar(
        plt_df, 
        x = 'skill_name',
        y = 'percent_people',
        text = 'percent_people',
        hover_data = ['percent_people'],
        height = 700,
        width = 1200,
        labels = dict(
            skill_name = "Skill Name", 
            percent_people = "Percent of People %"
        ),
        title = 'Top 30 Skills for ' + profile_type,
        template = 'simple_white'
    )
    fig.update_xaxes(tickangle=270)
    fig.update_layout(
        title={
            'text' : 'Top 30 Skills for ' + profile_type,
            'y' : 0.9,
            'x' : 0.5,
            'font' : dict(
                size = 18
            )
        }
    )
    return fig


### highest edu level plot
def highest_education_barplot():
    subplot_fig = make_subplots(
        rows = 1,
        cols = 3,
        shared_yaxes = False,
        subplot_titles = ('Data Science',  'Consultant', 'CTO')

    )

    col = 1
    for pf, bar_color in [('DataScience', 'DarkSeaGreen'), ('Consultant', 'SteelBlue'), ('CTO', 'LightSalmon')]:
        fig = px.bar(
            highest_education_level[highest_education_level['profile_category'] == pf], 
            x = 'highest_edu_level',
            y = 'percent_people',
            text = 'percent_people',
            facet_col = 'profile_category',
            color_discrete_sequence = [bar_color],
            hover_data = ['percent_people'],
            labels = dict(
                highest_edu_level = "Highest Education Level", 
                percent_people = "Percent of People %",
                profile_category = 'Profile Category'
            )
        )
        subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
        col += 1


    subplot_fig.update_layout(
        template = 'simple_white'
    )
    subplot_fig.update_xaxes(tickangle=270)
    subplot_fig.update_layout(
        title = {
            'text' : 'Higest Education Level for All Profile Categories',
            'y' : 0.95,
            'x' : 0.5,
            'font' : dict(
                size = 18
            )
        },
        height = 550,
        width = 1200,
        barmode = 'stack',
        xaxis = {'title' : 'Highest Education Level'},
        xaxis2 = {'title' : 'Highest Education Level'},
        xaxis3 = {'title' : 'Highest Education Level'},
        yaxis = {'title' : 'Percent of People %'}
    )
    return subplot_fig


### popular major types plot
def popular_majors_barplot():
    subplot_fig = make_subplots(
        rows = 1,
        cols = 3,
        shared_yaxes = False,
        subplot_titles = ('Data Science',  'Consultant', 'CTO')

    )

    col = 1
    for pf, bar_color in [('DataScience', 'DarkSeaGreen'), ('Consultant', 'SteelBlue'), ('CTO', 'LightSalmon')]:
        fig = px.bar(
            popular_major_type_df[popular_major_type_df['profile_category'] == pf], 
            x = 'major_type',
            y = 'percent_people',
            text = 'percent_people',
            facet_col = 'profile_category',
            color_discrete_sequence = [bar_color],
            hover_data = ['percent_people'],
            labels = dict(
                major_type = "Most Popular Majors", 
                percent_people = "Percent of People %",
                profile_category = 'Profile Category'
            ),
            orientation = 'v'
        )
        subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
        col += 1


    subplot_fig.update_layout(
        template = 'simple_white'
    )
    subplot_fig.update_xaxes(tickangle=270)
    subplot_fig.update_layout(
        title = {
            'text' : 'Most Popular Majors For Each Profile Category',
            'y' : 0.95,
            'x' : 0.5,
            'font' : dict(
                size = 18
            )
        },
        height = 650,
        width = 1400,
        barmode = 'stack',
        xaxis = {'title' : 'Type of Major', 'tickfont' : dict(size=11)},
        xaxis2 = {'title' : 'Type of Major', 'tickfont' : dict(size=11)},
        xaxis3 = {'title' : 'Type of Major', 'tickfont' : dict(size=11)},
        yaxis = {'title' : 'Percent of People %'}
    )
    return subplot_fig


### years of exp histogram - v1
@app.callback(
    Output('yoe-graph-v1', 'figure'),
    [Input("profile-type-multi-dropdown", "value")]
)
def yoe_histogram_v1(profile_type):
    if type(profile_type) == str:
        profile_type = [profile_type]
    plt_df = overall_years_of_exp[overall_years_of_exp['profile_category'].isin(profile_type)]

    fig = px.histogram(
        plt_df, 
        x = 'months_exp',
        color = 'profile_category',
        text_auto = '.1f',
        nbins = 20,
        height = 600,
        width = 1100,
        histnorm='percent',
        labels = dict(
            months_exp = "Months of Experience",
            profile_category = 'Profile Type'
        ),
        template = 'simple_white',
        barmode = 'relative',
        color_discrete_map = {
            'DataScience' : 'DarkSeaGreen', 
            'Consultant' : 'SteelBlue',
            'CTO' : 'LightSalmon'
        }
    )
    fig.update_xaxes(tickangle=270)
    fig.update_layout(
        title = {
            'text' : 'Distribution of "Years of Experience Before Reaching Latest Position"',
            'x' : 0.5,
            'font' : dict(
                size = 18
            )
        },
        yaxis = {'title': 'Percentage of People %'}
    )
    return fig


### specific roles analysis for data science - v1
def specific_previous_roles_v1(profile_type):
    n_roles = 3
    role_title1 = 'intern'
    role_title2 = 'analyst'
    role_title3, role_title3_neg = 'engineer', 'machine learning'
    single_prof_exp = exp_df[exp_df['profile_category'] == profile_type].copy()
    single_prof_exp['positions'].fillna('', inplace = True)
    single_prof_exp[role_title1] = single_prof_exp['positions'].str.contains(role_title1)
    single_prof_exp[role_title2] = single_prof_exp['positions'].str.contains(role_title2)
    single_prof_exp[role_title3] = (
        (single_prof_exp['positions'].str.contains(role_title3)) & 
        ~(single_prof_exp['positions'].str.contains(role_title3_neg))
    )
    subset_profiles_roles = single_prof_exp.groupby(
            'profile_id_dummy'
    )[[role_title1, role_title2, role_title3]].max().reset_index()
   
    subplot_fig = make_subplots(
        rows = 1,
        cols = n_roles,
        specs = [[{'type':'domain'}]*n_roles],
        subplot_titles = (
            role_title1.capitalize() + '<br>(Data Science/Analyst)',
            role_title2.capitalize() + '<br>(Data/Business/Research Analyst)',
            role_title3.capitalize() + '<br>(SDE/Other Engineer)'
        )

    )

    col = 1
    for role in [role_title1, role_title2, role_title3]:
        plt_df = subset_profiles_roles.groupby(role)['profile_id_dummy'].nunique().reset_index()
        fig = px.pie(
            plt_df, 
            values = 'profile_id_dummy',
            color = role,
            labels = dict(
                profile_id_dummy = "Number of People", 
                profile_category = 'Profile Category'
            ),
            hole = 0.6,
            color_discrete_map = {
                True : 'DodgerBlue', 
                False : 'LightSalmon'
            }
        )
        subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
        col += 1


    subplot_fig.update_layout(
        template = 'simple_white'
    )
    subplot_fig.update_layout(
        height = 500,
        width = 1100
    )
    return subplot_fig


############# Define Dash Components #############

skills_dash_component = [
    html.H1("Analyzing the Top Skills for Each Profile Type"),
    html.Div(
        [
            dcc.Dropdown(
                id = 'profile-type-dropdown',
                clearable=False,
                value = 'DataScience',
                options = [
                    {'label': item, 'value': item}
                    for item in ['DataScience', 'CTO', 'Consultant']
                ]
            )
        ],
        style = {
            'width': '30%', 'display': 'inline-block'
        }
    ),
    html.Br(),
    html.Div(
        [dcc.Graph(id = 'skills-graph')], 
        style = {
            'width': '100%'
        }
    ),
]

intermediate_component = [
    html.Br(),
    html.Hr(
        style = {
            'width': '80%', 'height': '1px', 'color': 'gray', 'background': 'black'
        }
    ),
    html.Br()
]

header_component = [
    html.H1("ANALYSIS OF LINKEDIN PROFILES FOR CREATING A CAREER GUIDE"),
    html.Hr(
        style = {
            'width': '95%', 'height': '2px', 'color': 'black', 'background': 'black'
        }
    ),
    html.Br(),
]

highest_edu_dash_component = [
    html.H1("Analyzing the Most Popular Highest Education Levels for Each Profile Type"),
    html.Br(),
    html.Div(
        [dcc.Graph(id = 'highest-edu-graph', figure = highest_education_barplot())],
        style = {
            'width': '100%'
        }
    )
]

popular_majors_dash_component = [
    html.H1("Analyzing the Most Popular Major Types for Each Profile Type"),
    html.Br(),
    html.Div(
        [dcc.Graph(id = 'most-popular-majors-graph', figure = popular_majors_barplot())],
        style = {
            'width': '100%'
        }
    )
]


yoe_v1_dash_component = [
    html.H1("Analyzing Years of Experience Required to Reach Latest Position"),
    html.Div(
        [
            dcc.Dropdown(
                id = 'profile-type-multi-dropdown',
                clearable = False,
                value = 'DataScience',
                options = [
                    {'label': item, 'value': item}
                    for item in ['DataScience', 'CTO', 'Consultant']
                ],
                multi = True
            )
        ],
        style = {
            'width': '30%', 'display': 'inline-block'
        }
    ),
    html.Div(
        [dcc.Graph(id = 'yoe-graph-v1')],
        style = {
            'width': '100%'
        }
    )
]


ds_roles_v1_dash_component = [
    html.H1("Previous Roles Held By Top Data Scientists"),
    html.Br(),
    html.Div(
        [dcc.Graph(id = 'ds-roles-v1-graph', figure = specific_previous_roles_v1('DataScience'))],
        style = {
            'width': '100%'
        }
    )
]

############# Bind Dash App Components Together #############

app.layout = html.Center(
    header_component +\
    skills_dash_component +\
    intermediate_component + highest_edu_dash_component +\
    intermediate_component + popular_majors_dash_component +\
    intermediate_component + yoe_v1_dash_component +\
    intermediate_component + ds_roles_v1_dash_component,
    style = {
        'justify' : 'center', 'align' : 'center'
    }
)

In [86]:
app.run_server(mode='external', port = random.randrange(3000, 4000) , debug=True)

Dash app running on http://127.0.0.1:3640/

# Skills Analysis

plt.figure(figsize=(20, 6))

sns.barplot(
    x = 'skill_name',
    y = 'percent_people',
    data = top_skills.head(30)
)
plt.xticks(rotation = 90, size=14)
plt.title('Top 30 Skills in Data Science', size=22)
plt.xlabel('Skill Name', size=16)
plt.ylabel('Percentage of People', size=16)
plt.show()

profile_type = 'DataScience'
single_profile_type_skills = skills_df[skills_df['profile_category'] == profile_type].copy()
skills_cols = single_profile_type_skills.columns.difference(
    ['profile_id_dummy', 'all_skills_link', 'skills_list', 'profile_category']
)

top_skills = single_profile_type_skills[skills_cols].sum(axis=0).sort_values(ascending=False).reset_index()
top_skills.columns = ['skill_name', 'count_people']
top_skills['percent_people'] = round((top_skills['count_people']/single_profile_type_skills.shape[0])*100,0)

plt_df = top_skills.head(30)

fig = px.bar(
    plt_df, 
    x = 'skill_name',
    y = 'percent_people',
    text = 'percent_people',
    hover_data = ['percent_people'],
    height = 600,
    width = 1100,
    labels = dict(
        skill_name = "Skill Name", 
        percent_people = "Percent of People %"
    ),
    title = 'Top 30 Skills for ' + profile_type,
    template = 'simple_white'
)
fig.update_xaxes(tickangle=270)
fig.update_layout(
    title={
        'text' : 'Top 30 Skills for ' + profile_type,
        'y' : 0.9,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    }
)
fig.show()

# Education Level

In [11]:
edu_df['degree_name'] = edu_df['degree_name'].str.lower()

**Bachelor**

In [12]:
bachelor_pattern = (
    r'^(b\.{0,}\s{0,1}tech\.{0,}|b\.{0,}s\.{0,}|bachelor\â€™{0,}\'{0,}s{0,}|bachellor|'
    r'b\.{0,}sc\.{0,}|b\.{0,}a\.{0,}|b\.{0,}b\.{0,}a\.{0,}|b\.{0,}e\.{0,})(?:,|\)|\(|\s)'
)
print(bachelor_pattern)

edu_df['degree_bachelor'] = edu_df['degree_name'].apply(
    lambda x: 'bachelor' if re.match(bachelor_pattern, str(x)) is not None else None
)
edu_df.head()

^(b\.{0,}\s{0,1}tech\.{0,}|b\.{0,}s\.{0,}|bachelor\â€™{0,}\'{0,}s{0,}|bachellor|b\.{0,}sc\.{0,}|b\.{0,}a\.{0,}|b\.{0,}b\.{0,}a\.{0,}|b\.{0,}e\.{0,})(?:,|\)|\(|\s)

,profile_id_dummy,education_institute,degree_name,start_year_degree,end_year_degree,profile_category,degree_bachelor
0,DataScience_0,Missouri Southern State University,"bachelor's degree, mathematics",2005,2010,DataScience,bachelor
1,DataScience_1,Delhi University,"bachelor of arts (b.a.), economics",2002,2005,DataScience,bachelor
2,DataScience_1,Anna University,"master of science (m.sc.), economics",2006,2008,DataScience,None
3,DataScience_2,Northcentral University,"doctor of philosophy - phd, data science speci...",1900,1900,DataScience,None
4,DataScience_2,The University of Iowa Tippie College of Business,"mba, business analytics",2007,2007,DataScience,None

**Master**

In [13]:
master_pattern = (
    r"^(master\'{0,1}\â€™{0,1}s{0,1}|m\.{0,1}s\.{0,1}|m\.{0,1}a\.{0,1}|m\.{0,1}sc\.{0,1}|"
    r"m\.{0,1}eng\.{0,1}|mca|post graduate)(?:,|\)|\(|\s)"
)
edu_df['degree_master'] = edu_df['degree_name'].apply(
    lambda x: 'master' if re.match(master_pattern, str(x)) is not None else None
)
edu_df.head()

,profile_id_dummy,education_institute,degree_name,start_year_degree,end_year_degree,profile_category,degree_bachelor,degree_master
0,DataScience_0,Missouri Southern State University,"bachelor's degree, mathematics",2005,2010,DataScience,bachelor,None
1,DataScience_1,Delhi University,"bachelor of arts (b.a.), economics",2002,2005,DataScience,bachelor,None
2,DataScience_1,Anna University,"master of science (m.sc.), economics",2006,2008,DataScience,None,master
3,DataScience_2,Northcentral University,"doctor of philosophy - phd, data science speci...",1900,1900,DataScience,None,None
4,DataScience_2,The University of Iowa Tippie College of Business,"mba, business analytics",2007,2007,DataScience,None,None

**PhD**

print(*edu_df['degree_name'].values, sep="\n")

In [14]:
phd_pattern = (
    r"^(p\.{0,1}h\.{0,1}d\.{0,1}|doctor of philosophy|doctorate)(?:,|\)|\(|\s)"
)
edu_df['degree_doctorate'] = edu_df['degree_name'].apply(
    lambda x: 'phd' if re.match(phd_pattern, str(x)) is not None else None
)
edu_df.head()

,profile_id_dummy,education_institute,degree_name,start_year_degree,end_year_degree,profile_category,degree_bachelor,degree_master,degree_doctorate
0,DataScience_0,Missouri Southern State University,"bachelor's degree, mathematics",2005,2010,DataScience,bachelor,None,None
1,DataScience_1,Delhi University,"bachelor of arts (b.a.), economics",2002,2005,DataScience,bachelor,None,None
2,DataScience_1,Anna University,"master of science (m.sc.), economics",2006,2008,DataScience,None,master,None
3,DataScience_2,Northcentral University,"doctor of philosophy - phd, data science speci...",1900,1900,DataScience,None,None,phd
4,DataScience_2,The University of Iowa Tippie College of Business,"mba, business analytics",2007,2007,DataScience,None,None,None

**MBA**

In [15]:
mba_pattern = (
    r"(m\.{0,1}b\.{0,1}a\.{0,1}|master of business|p\.{0,1}g\.{0,1}d\.{0,1}m\.{0,1}|post graduate diploma in management|"
    r"post graduate programm{0,1}e{0,1} in management |pgp|pgpx)(?:,|\)|\(|\s)"
)
edu_df['degree_mba'] = edu_df['degree_name'].apply(
    lambda x: 'mba' if re.match(mba_pattern, str(x)) is not None else None
)
edu_df.head()

,profile_id_dummy,education_institute,degree_name,start_year_degree,end_year_degree,profile_category,degree_bachelor,degree_master,degree_doctorate,degree_mba
0,DataScience_0,Missouri Southern State University,"bachelor's degree, mathematics",2005,2010,DataScience,bachelor,None,None,None
1,DataScience_1,Delhi University,"bachelor of arts (b.a.), economics",2002,2005,DataScience,bachelor,None,None,None
2,DataScience_1,Anna University,"master of science (m.sc.), economics",2006,2008,DataScience,None,master,None,None
3,DataScience_2,Northcentral University,"doctor of philosophy - phd, data science speci...",1900,1900,DataScience,None,None,phd,None
4,DataScience_2,The University of Iowa Tippie College of Business,"mba, business analytics",2007,2007,DataScience,None,None,None,mba

### Highest Education Analysis

In [16]:
edu_df['education_degree_all'] = edu_df['degree_bachelor'].astype(str) + '#' + edu_df['degree_master'].astype(str) + '#' +\
        edu_df['degree_mba'].astype(str) + '#' + edu_df['degree_doctorate'].astype(str)

In [17]:
profile_level_education = edu_df.groupby(['profile_category', 'profile_id_dummy'])['education_degree_all'].agg(
    lambda x: list(dict.fromkeys(('#'.join(x)).split('#')))
).reset_index()

In [18]:
def get_highest_level_of_edu(x):
    if 'phd' in x:
        edu_level = 'PhD'
    elif 'mba' in x:
        edu_level = 'MBA'
    elif 'master' in x:
        edu_level = 'Master'
    elif 'bachelor' in x:
        edu_level = 'Bachelor'
    else:
        edu_level = 'Other'
    
    return edu_level

profile_level_education['highest_edu_level'] = profile_level_education['education_degree_all'].apply(get_highest_level_of_edu)

In [19]:
highest_education_level = profile_level_education.groupby(
    ['profile_category', 'highest_edu_level']
)['profile_id_dummy'].nunique().reset_index()

highest_education_level['percent_people'] = highest_education_level['profile_id_dummy']/highest_education_level.groupby(
    'profile_category'
)['profile_id_dummy'].transform('sum')
highest_education_level['percent_people'] = (highest_education_level['percent_people']*100).astype(int)
highest_education_level = highest_education_level.sort_values(
    ['profile_category', 'percent_people'], ascending = [True, False]
).reset_index(drop=True)
highest_education_level.head()

  profile_category highest_edu_level  profile_id_dummy  percent_people
0              CTO          Bachelor                31              30
1              CTO            Master                20              19
2              CTO               PhD                18              17
3              CTO               MBA                17              16
4              CTO             Other                16              15

subplot_fig = make_subplots(
    rows = 1,
    cols = 3,
    shared_yaxes = False,
    subplot_titles = ('Data Science',  'Consultant', 'CTO')

)

col = 1
for pf, bar_color in [('DataScience', 'DarkSeaGreen'), ('Consultant', 'SteelBlue'), ('CTO', 'LightSalmon')]:
    fig = px.bar(
        highest_education_level[highest_education_level['profile_category'] == pf], 
        x = 'highest_edu_level',
        y = 'percent_people',
        text = 'percent_people',
        facet_col = 'profile_category',
        color_discrete_sequence = [bar_color],
        hover_data = ['percent_people'],
        height = 600,
        width = 1200,
        labels = dict(
            highest_edu_level = "Highest Education Level", 
            percent_people = "Percent of People %",
            profile_category = 'Profile Category'
        )
    )
    subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
    col += 1

    
subplot_fig.update_layout(
    template = 'simple_white'
)
subplot_fig.update_xaxes(tickangle=270)
subplot_fig.update_layout(
    title = {
        'text' : 'Higest Education Level for All Profile Categories',
        'y' : 0.95,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    barmode = 'stack',
    xaxis = {'title' : 'Highest Education Level'},
    xaxis2 = {'title' : 'Highest Education Level'},
    xaxis3 = {'title' : 'Highest Education Level'},
    yaxis = {'title' : 'Percent of People %'}
)
subplot_fig.show()

### Degree Type Analysis

(computer|stat|physics|chemistry|math|data science|machine|engineer|quant)

edu_df.to_csv('../../data/rough-analysis/education_temp.csv', index=False)

In [20]:
def engineering_business_degree(x):
    stem_match = re.search(
        r"(computer|stat|physics|chem|math|data science|machine|quant|bio|operations research)",
        x
    )
    
    mba_match = re.search(
        r"(m\.{0,1}b\.{0,1}a\.{0,1}|pgdm|pgp)",
        x
    )
    
    if 'engineer' in x:
        major_type = 'Engineering'
    elif 'business' in x or 'econ' in x or mba_match is not None:
        major_type = 'Business/Economics'
    elif 'engineer' not in x and stem_match is not None:
        major_type = 'STEM (Non-Engineering)'
    else:
        major_type = ''
    
    return major_type

edu_df['major_type'] = edu_df['degree_name'].astype(str).apply(engineering_business_degree)

major_type_df = edu_df.groupby(
    ['profile_category', 'profile_id_dummy']
)['major_type'].agg(
    lambda x: ' & <br> '.join(
        [i for i in sorted(set(x)) if i!='']
    )
).reset_index(drop=False)

In [21]:
popular_major_type_df = major_type_df.groupby(
    ['profile_category', 'major_type']
)['profile_id_dummy'].nunique().reset_index(drop=False)

popular_major_type_df['major_type'] = np.where(
    popular_major_type_df['major_type'] == '',
    'Other',
    popular_major_type_df['major_type']
)

popular_major_type_df['percent_people'] = popular_major_type_df['profile_id_dummy']/popular_major_type_df.groupby(
    'profile_category'
)['profile_id_dummy'].transform('sum')
popular_major_type_df['percent_people'] = (popular_major_type_df['percent_people']*100).astype(int)
popular_major_type_df = popular_major_type_df.sort_values(
    ['profile_category', 'percent_people'], ascending = [True, False]
).reset_index(drop=True)
popular_major_type_df.head()

,profile_category,major_type,profile_id_dummy,percent_people
0,CTO,STEM (Non-Engineering),25,24
1,CTO,Engineering,21,20
2,CTO,Other,17,16
3,CTO,Business/Economics,13,12
4,CTO,Business/Economics & <br> STEM (Non-Engineering),10,9

subplot_fig = make_subplots(
    rows = 1,
    cols = 3,
    shared_yaxes = False,
    subplot_titles = ('Data Science',  'Consultant', 'CTO')

)

col = 1
for pf, bar_color in [('DataScience', 'DarkSeaGreen'), ('Consultant', 'SteelBlue'), ('CTO', 'LightSalmon')]:
    fig = px.bar(
        popular_major_type_df[popular_major_type_df['profile_category'] == pf], 
        x = 'major_type',
        y = 'percent_people',
        text = 'percent_people',
        facet_col = 'profile_category',
        color_discrete_sequence = [bar_color],
        hover_data = ['percent_people'],
        labels = dict(
            major_type = "Most Popular Majors", 
            percent_people = "Percent of People %",
            profile_category = 'Profile Category'
        ),
        orientation = 'v'
    )
    subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
    col += 1

    
subplot_fig.update_layout(
    template = 'simple_white'
)
subplot_fig.update_xaxes(tickangle=270)
subplot_fig.update_layout(
    title = {
        'text' : 'Most Popular Majors For Each Profile Category',
        'y' : 0.95,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    height = 700,
    width = 1500,
    barmode = 'stack',
    xaxis = {'title' : 'Type of Major', 'tickfont' : dict(size=11)},
    xaxis2 = {'title' : 'Type of Major', 'tickfont' : dict(size=11)},
    xaxis3 = {'title' : 'Type of Major', 'tickfont' : dict(size=11)},
    yaxis = {'title' : 'Percent of People %'}
)
subplot_fig.show()

# Experience Analysis

In [304]:
exp_df['positions'] = exp_df['positions'].str.lower()
exp_df['positions'].fillna('', inplace=True)

single_prof_exp = exp_df.copy()

single_prof_exp.sort_values(['profile_category', 'profile_id_dummy', 'start_date'], inplace=True)

single_prof_exp['start_date'] = pd.to_datetime(single_prof_exp['start_date'])
single_prof_exp['end_date'] = pd.to_datetime(single_prof_exp['end_date'])

single_prof_exp['exp_ranked'] = single_prof_exp.groupby(
    ['profile_category', 'profile_id_dummy']
)['start_date'].transform(lambda x: x.rank(method='first'))
single_prof_exp['max_end_date'] = single_prof_exp.groupby(
    ['profile_category', 'profile_id_dummy']
)['end_date'].transform('max')

single_prof_exp = single_prof_exp[
    (single_prof_exp['start_date'] > datetime.strptime('1930-01-01', '%Y-%m-%d'))
    & (single_prof_exp['end_date'] != single_prof_exp['max_end_date'])
]

**Total Years of Experience**

In [305]:
profile_type = 'DataScience'

overall_years_of_exp = single_prof_exp.groupby([
    'profile_category', 'profile_id_dummy', 'end_date'
])['start_date'].min().reset_index()

overall_years_of_exp['months_exp'] = (((overall_years_of_exp['end_date'] - overall_years_of_exp['start_date']).dt.days)/30).astype(int)

overall_years_of_exp = overall_years_of_exp.groupby(
    ['profile_category', 'profile_id_dummy']
)['months_exp'].sum().reset_index()

upper_threshold = np.mean(overall_years_of_exp['months_exp']) + 3*np.std(overall_years_of_exp['months_exp'])
lower_threshold = np.mean(overall_years_of_exp['months_exp']) - 3*np.std(overall_years_of_exp['months_exp'])

overall_years_of_exp = overall_years_of_exp[
    (overall_years_of_exp['months_exp'] < upper_threshold) & 
    (overall_years_of_exp['months_exp'] > lower_threshold)
].copy()

overall_years_of_exp.shape

(354, 3)

In [306]:
plt_df = overall_years_of_exp#[overall_years_of_exp['profile_category'] == 'DataScience']

fig = px.histogram(
    plt_df, 
    x = 'months_exp',
    color = 'profile_category',
    text_auto = '.1f',
    nbins = 20,
    height = 600,
    width = 1100,
    histnorm='percent',
    labels = dict(
        months_exp = "Months of Experience",
        profile_category = 'Profile Type'
    ),
    template = 'simple_white',
    barmode = 'relative',
    color_discrete_map = {
        'DataScience' : 'DarkSeaGreen', 
        'Consultant' : 'SteelBlue',
        'CTO' : 'LightSalmon'
    }
)
fig.update_xaxes(tickangle=270)
fig.update_layout(
    title = {
        'text' : 'Distribution of "Years of Experience Before Reaching Latest Position"',
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    yaxis = {'title': 'Percentage of People %'}
)
fig.show()

plt_df = overall_years_of_exp#[overall_years_of_exp['profile_category'] == 'DataScience']

fig = px.histogram(
    plt_df, 
    x = 'months_exp',
    color = 'profile_category',
    text_auto = '.1f',
    nbins = 20,
    height = 600,
    width = 1100,
    histnorm='percent',
    labels = dict(
        months_exp = "Months of Experience",
        profile_category = 'Profile Type'
    ),
    template = 'simple_white',
    barmode = 'relative',
    color_discrete_map = {
        'DataScience' : 'DarkSeaGreen', 
        'Consultant' : 'SteelBlue',
        'CTO' : 'LightSalmon'
    }
)
fig.update_xaxes(tickangle=270)
fig.update_layout(
    title = {
        'text' : 'Distribution of "Years of Experience Before Reaching Latest Position"',
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    yaxis = {'title': 'Percentage of People %'}
)
fig.show()

### Role Analysis

In [145]:
def previous_role_type_analysis(profile_type, exp_df,
                                role_title1 = '', role_title1_name = '',
                                role_title2 = '', role_title2_name = '',
                                role_title3 = '', role_title3_name = ''):
    
    '''
    helper function for analyzing role types
    '''

    single_prof_exp = exp_df[exp_df['profile_category'] == profile_type].copy()
    single_prof_exp['positions'].fillna('', inplace = True)

    single_prof_exp[role_title1_name] = single_prof_exp['positions'].str.contains(role_title1)
    single_prof_exp[role_title2_name] = single_prof_exp['positions'].str.contains(role_title2)
    
    if profile_type == 'DataScience':
        role_title3_neg = 'machine learning'
        single_prof_exp[role_title3_name] = (
            (single_prof_exp['positions'].str.contains(role_title3)) & 
            ~(single_prof_exp['positions'].str.contains(role_title3_neg))
        )
        
        list_cols = [role_title1_name, role_title2_name, role_title3_name]
    else:
        list_cols = [role_title1_name, role_title2_name]
        
    subset_profiles_roles = single_prof_exp.groupby(
        'profile_id_dummy'
    )[list_cols].max().reset_index()

    plt_df = subset_profiles_roles.groupby(role_title1_name)['profile_id_dummy'].nunique().reset_index()
    print(plt_df)
    
    return subset_profiles_roles

In [308]:
def previous_role_type_plot(profile_type, subset_profiles_roles_df,
                            role_title1 = '', role_title1_name = '', role1_details = '',
                            role_title2 = '', role_title2_name = '', role2_details = '',
                            role_title3 = '', role_title3_name = '', role3_details = '',):
    
    '''
    helper function for generating previous role donut plots
    '''
    
    if profile_type == 'DataScience':
        list_cols = [role_title1_name, role_title2_name, role_title3_name]
        cols = 3
    else:
        list_cols = [role_title1_name, role_title2_name]
        cols = 2
        
    subplot_fig = make_subplots(
        rows = 1,
        cols = cols,
        specs = [[{'type':'domain'}]*cols],
        subplot_titles = (
            role_title1_name + '<br>' + role1_details,
            role_title2_name + '<br>' + role2_details,
            role_title3_name + '<br>' + role3_details
        )

    )

    col = 1
    for role in list_cols:
        plt_df = subset_profiles_roles_df.groupby(role)['profile_id_dummy'].nunique().reset_index()
        fig = px.pie(
            plt_df, 
            values = 'profile_id_dummy',
            color = role,
            labels = dict(
                major_type = "Most Popular Majors", 
                percent_people = "Percent of People %",
                profile_category = 'Profile Category'
            ),
            hole = 0.6,
            color_discrete_map = {
                True : 'OliveDrab',
                False : 'BurlyWood'
            }
        )
        subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
        col += 1


    subplot_fig.update_layout(
        template = 'simple_white'
    )
    subplot_fig.update_layout(
        title = {
            'text' : 'Previous Roles Held by ' + profile_type,
            'y' : 0.99,
            'x' : 0.5,
            'font' : dict(
                size = 18
            )
        },
        height = 500,
        width = 1100
    )
    subplot_fig.show()

In [309]:
pds_roles_df = previous_role_type_analysis(
    profile_type = 'DataScience',
    exp_df = exp_df.copy(),
    role_title1 = 'intern',
    role_title1_name = 'Intern Roles',
    role_title2 = 'analyst',
    role_title2_name = 'Analyst Roles',
    role_title3 = 'engineer',
    role_title3_name = 'Engineer Roles'
)

previous_role_type_plot(
    profile_type = 'DataScience',
    subset_profiles_roles_df = pds_roles_df,
    role_title1 = 'intern',
    role_title1_name = 'Intern Roles',
    role1_details = '(Data Science/Analyst Interns)',
    role_title2 = 'analyst',
    role_title2_name = 'Analyst Roles',
    role2_details = '(Data/Business/Research Analyst)',
    role_title3 = 'engineer',
    role_title3_name = 'Engineer Roles',
    role3_details = '(SDE/Other Engineer)',
)

   Intern Roles  profile_id_dummy
0         False                87
1          True                31

In [310]:
cto_roles_df = previous_role_type_analysis(
    profile_type = 'CTO',
    exp_df = exp_df.copy(),
    role_title1 = r'(manager|lead|head)',
    role_title1_name = 'Managerial Roles',
    role_title2 = r'software engineer|architect|staff engineer|scientist',
    role_title2_name = 'Software Engineer/Architect/Research Scientist'
)

previous_role_type_plot(
    profile_type = 'CTO',
    subset_profiles_roles_df = cto_roles_df,
    role_title1 = r'(manager|lead|head)',
    role_title1_name = 'Managerial Roles',
    role1_details = '(Manager or Lead of a Team)',
    role_title2 = r'software engineer|architect|staff engineer|scientist',
    role_title2_name = 'Software Engineer/Architect/Research Scientist',
    role2_details = '(Senior Engineering, Architect, or Research Roles)',
)

/var/folders/br/v7q8h1197n16v84g68kyd__40000gn/T/ipykernel_3644/1570335171.py:13: UserWarning:

This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.

   Managerial Roles  profile_id_dummy
0             False                63
1              True                39

In [311]:
consultant_roles_df = previous_role_type_analysis(
    profile_type = 'Consultant',
    exp_df = exp_df.copy(),
    role_title1 = r'(analyst|trainee|business analytics)',
    role_title1_name = 'Analyst Roles',
    role_title2 = r'intern',
    role_title2_name = 'Intern Roles'
)

previous_role_type_plot(
    profile_type = 'Consultant',
    subset_profiles_roles_df = consultant_roles_df,
    role_title1 = r'(analyst|trainee|business analytics)',
    role_title1_name = 'Analyst Roles',
    role1_details = '(Associate Analyst/Business Analyst/Research Analyst)',
    role_title2 = r'intern',
    role_title2_name = 'Intern Roles',
    role2_details = '(Any Internship Position)',
)

/var/folders/br/v7q8h1197n16v84g68kyd__40000gn/T/ipykernel_3644/1570335171.py:13: UserWarning:

This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.

   Analyst Roles  profile_id_dummy
0          False                97
1           True                50

**Data Science**

profile_type = 'DataScience'
role_title1, role_title1_name = 'intern', 'Intern Roles'
role_title2, role_title2_name = 'analyst', 'Analyst Roles'
role_title3, role_title3_neg, role_title3_name = 'engineer', 'machine learning', 'Engineer Roles'

single_prof_exp = exp_df[exp_df['profile_category'] == profile_type].copy()
single_prof_exp['positions'].fillna('', inplace = True)

single_prof_exp[role_title1_name] = single_prof_exp['positions'].str.contains(role_title1)
single_prof_exp[role_title2_name] = single_prof_exp['positions'].str.contains(role_title2)
single_prof_exp[role_title3_name] = (
    (single_prof_exp['positions'].str.contains(role_title3)) & 
    ~(single_prof_exp['positions'].str.contains(role_title3_neg))
)
subset_profiles_roles = single_prof_exp.groupby(
    'profile_id_dummy'
)[[role_title1_name, role_title2_name, role_title3_name]].max().reset_index()

plt_df = subset_profiles_roles.groupby(role_title1_name)['profile_id_dummy'].nunique().reset_index()
print(plt_df)

########### Plot #############
subplot_fig = make_subplots(
    rows = 1,
    cols = 3,
    specs = [[{'type':'domain'}]*3],
    subplot_titles = (
        role_title3_name + '<br>(Data Science/Analyst)',
        role_title2_name + '<br>(Data/Business/Research Analyst)',
        role_title3_name + '<br>(SDE/Other Engineer)'
    )

)

col = 1
for role in [role_title1_name, role_title2_name, role_title3_name]:
    plt_df = subset_profiles_roles.groupby(role)['profile_id_dummy'].nunique().reset_index()
    fig = px.pie(
        plt_df, 
        values = 'profile_id_dummy',
        color = role,
        labels = dict(
            major_type = "Most Popular Majors", 
            percent_people = "Percent of People %",
            profile_category = 'Profile Category'
        ),
        hole = 0.6,
        color_discrete_map = {
            True : 'DodgerBlue', 
            False : 'LightSalmon'
        }
    )
    subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
    col += 1

    
subplot_fig.update_layout(
    template = 'simple_white'
)
subplot_fig.update_layout(
    title = {
        'text' : 'Previous Roles Held by Principal Data Scientists',
        'y' : 0.99,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    height = 500,
    width = 1100
)
subplot_fig.show()

single_prof_exp.to_csv('../../data/rough-analysis/exp_df_temp1.csv', index=False)
overall_years_of_exp.to_csv('../../data/rough-analysis/exp_df_temp2.csv', index=False)

**CTO**

profile_type = 'CTO'
role_title1, role_title1_name = r'(manager|lead|head)', 'Managerial Role'
role_title2, role_title2_name = 'software engineer|architect|staff engineer|scientist', 'Software Engineer/Architect/Research Scientist'


single_prof_exp = exp_df[exp_df['profile_category'] == profile_type].copy()
single_prof_exp['positions'].fillna('', inplace = True)

single_prof_exp[role_title1_name] = single_prof_exp['positions'].str.contains(role_title1)
single_prof_exp[role_title2_name] = single_prof_exp['positions'].str.contains(role_title2)

subset_profiles_roles = single_prof_exp.groupby(
    'profile_id_dummy'
)[[role_title1_name, role_title2_name]].max().reset_index()

plt_df = subset_profiles_roles.groupby(role_title1_name)['profile_id_dummy'].nunique().reset_index()
plt_df

print(*single_prof_exp['positions'].unique(), sep="\n")

subplot_fig = make_subplots(
    rows = 1,
    cols = 2,
    specs = [[{'type':'domain'}]*2],
    subplot_titles = (
        role_title1_name + '<br>(Manager or Lead of a Team)',
        role_title2_name + '<br>(Senior Engineering, Architect, or Research Roles)'
    )

)

col = 1
for role in [role_title1_name, role_title2_name,]:
    plt_df = subset_profiles_roles.groupby(role)['profile_id_dummy'].nunique().reset_index()
    fig = px.pie(
        plt_df, 
        values = 'profile_id_dummy',
        color = role,
        labels = dict(
            major_type = "Most Popular Majors", 
            percent_people = "Percent of People %",
            profile_category = 'Profile Category'
        ),
        hole = 0.6,
        color_discrete_map = {
            True : 'DodgerBlue', 
            False : 'LightSalmon'
        }
    )
    subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
    col += 1

    
subplot_fig.update_layout(
    template = 'simple_white'
)
subplot_fig.update_layout(
    title = {
        'text' : 'Previous Roles Held by Chief Technology Officers',
        'y' : 0.99,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    height = 500,
    width = 1100
)
subplot_fig.show()

**Consultant**

profile_type = 'Consultant'
role_title1, role_title1_name = r'(analyst|trainee|business analytics)', 'Analyst Role'
role_title2, role_title2_name = r'engineer', 'Software Engineer/Other Engineer'

single_prof_exp = exp_df[exp_df['profile_category'] == profile_type].copy()
single_prof_exp['positions'].fillna('', inplace = True)

single_prof_exp[role_title1_name] = single_prof_exp['positions'].str.contains(role_title1)
single_prof_exp[role_title2_name] = single_prof_exp['positions'].str.contains(role_title2)

subset_profiles_roles = single_prof_exp.groupby(
    'profile_id_dummy'
)[[role_title1_name, role_title2_name]].max().reset_index()

plt_df = subset_profiles_roles.groupby(role_title1_name)['profile_id_dummy'].nunique().reset_index()
print(plt_df.sort_values(role_title1_name)['profile_id_dummy']/plt_df['profile_id_dummy'].sum())

subplot_fig = make_subplots(
    rows = 1,
    cols = 2,
    specs = [[{'type':'domain'}]*2],
    subplot_titles = (
        role_title1_name,
        role_title2_name
    )
)

col = 1
for role in [role_title1_name, role_title2_name,]:
    plt_df = subset_profiles_roles.groupby(role)['profile_id_dummy'].nunique().reset_index()
    fig = px.pie(
        plt_df, 
        values = 'profile_id_dummy',
        color = role,
        labels = dict(
            major_type = "Most Popular Majors", 
            percent_people = "Percent of People %",
            profile_category = 'Profile Category'
        ),
        hole = 0.6,
        color_discrete_map = {
            True : 'DodgerBlue', 
            False : 'LightSalmon'
        }
    )
    subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
    col += 1

    
subplot_fig.update_layout(
    template = 'simple_white'
)
subplot_fig.update_layout(
    title = {
        'text' : 'Previous Roles Held by Consultants',
        'y' : 0.99,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    height = 500,
    width = 1100
)
subplot_fig.show()

print(*single_prof_exp['profile_heading'].unique(), sep="\n")

### Direct Switch vs Moving Up

In [165]:
single_prof_exp.dtypes

profile_id_dummy             object
company                      object
positions                    object
durations_cleaned            object
start_date           datetime64[ns]
end_date             datetime64[ns]
names                        object
profile_url                  object
profile_heading              object
profile_category             object
exp_ranked                  float64
max_end_date         datetime64[ns]
dtype: object

In [235]:
exp_df['positions'] = exp_df['positions'].str.lower()
exp_df['positions'].fillna('', inplace=True)
exp_df['start_date'] = pd.to_datetime(exp_df['start_date'])
exp_df['end_date'] = pd.to_datetime(exp_df['end_date'])

exp_df['company_max_end_date'] = exp_df.groupby(
        ['profile_id_dummy', 'company']
    )['end_date'].transform('max')

exp_df['company_exp_ranked'] = exp_df.groupby(
    ['profile_category', 'profile_id_dummy']
)['company_max_end_date'].transform(lambda x: x.rank(method='dense', ascending=False))

**Number of Months in Latest Company**

In [234]:
### get the latest company
latest_company_info = exp_df[exp_df['company_exp_ranked'] == 1].copy()

### calculate time in latest company
time_period_latest_company = latest_company_info.groupby(
    ['profile_category', 'profile_id_dummy'])[['start_date', 'end_date']].agg({
        'start_date': 'min', 
        'end_date': 'max'
    }).reset_index()

time_period_latest_company['months_of_exp_latest'] = round(
    ((time_period_latest_company['end_date'] - time_period_latest_company['start_date']).dt.days)/30, 0
).astype(int)

print(time_period_latest_company.head())

  profile_category profile_id_dummy start_date   end_date  \
0              CTO            CTO_0 2021-12-05 2022-11-05
1              CTO            CTO_1 2014-05-05 2022-11-05
2              CTO          CTO_100 2021-05-05 2022-11-05
3              CTO          CTO_101 2015-12-05 2022-11-05
4              CTO          CTO_102 2001-03-05 2022-11-05

   months_of_exp_latest
0                    11
1                   104
2                    18
3                    84
4                   264

In [256]:
plt_df = time_period_latest_company

fig = px.histogram(
    plt_df, 
    x = 'months_of_exp_latest',
    color = 'profile_category',
    text_auto = '.1f',
    nbins = 10,
    height = 600,
    width = 1100,
    histnorm='percent',
    labels = dict(
        months_of_exp_latest = "Months of Experience at Latest Company",
        profile_category = 'Profile Type'
    ),
    template = 'simple_white',
    barmode = 'relative',
    color_discrete_map = {
        'DataScience' : 'DarkSeaGreen', 
        'Consultant' : 'SteelBlue',
        'CTO' : 'LightSalmon'
    }
)
fig.update_xaxes(tickangle=270)
fig.update_layout(
    title = {
        'text' : 'Distribution of "Months of Experience at Latest Company"',
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    yaxis = {'title': 'Percentage of People %'}
)
fig.show()

**Number of Roles in Latest Company**

In [261]:
num_roles_latest_company = latest_company_info.groupby(
    ['profile_category', 'profile_id_dummy']
)['positions'].nunique().reset_index()

num_roles_latest_company = num_roles_latest_company.groupby(
    ['profile_category', 'positions']
)['profile_id_dummy'].nunique().reset_index()

num_roles_latest_company['percent_people'] = round((num_roles_latest_company['profile_id_dummy']/num_roles_latest_company.groupby(
    ['profile_category']
)['profile_id_dummy'].transform('sum'))*100,1)
num_roles_latest_company['positions'] = num_roles_latest_company['positions'].astype(str)

print(num_roles_latest_company.head())

  profile_category positions  profile_id_dummy  percent_people
0              CTO         1                46            45.1
1              CTO         2                32            31.4
2              CTO         3                19            18.6
3              CTO         4                 2             2.0
4              CTO         5                 3             2.9

In [263]:
subplot_fig = make_subplots(
    rows = 1,
    cols = 3,
    shared_yaxes = False,
    subplot_titles = ('Data Science',  'Consultant', 'CTO')

)

col = 1
for pf, bar_color in [('DataScience', 'DarkSeaGreen'), ('Consultant', 'SteelBlue'), ('CTO', 'LightSalmon')]:
    fig = px.bar(
        num_roles_latest_company[num_roles_latest_company['profile_category'] == pf], 
        x = 'positions',
        y = 'percent_people',
        text = 'percent_people',
        facet_col = 'profile_category',
        color_discrete_sequence = [bar_color],
        hover_data = ['percent_people'],
        height = 600,
        width = 1200,
        labels = dict(
            positions = "Number of Positions", 
            percent_people = "Percent of People %",
            profile_category = 'Profile Category'
        )
    )
    subplot_fig.append_trace(fig['data'][0], row = 1, col = col)
    col += 1

    
subplot_fig.update_layout(
    template = 'simple_white'
)
subplot_fig.update_xaxes(tickangle=0)
subplot_fig.update_layout(
    title = {
        'text' : 'Number of Positions Held at Latest Company',
        'y' : 0.95,
        'x' : 0.5,
        'font' : dict(
            size = 18
        )
    },
    barmode = 'stack',
    xaxis = {'title' : 'Highest Education Level'},
    xaxis2 = {'title' : 'Highest Education Level'},
    xaxis3 = {'title' : 'Highest Education Level'},
    yaxis = {'title' : 'Percent of People %'}
)
subplot_fig.show()